*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ECF2FF;
}

.card-img-top{
  height:230px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card{
  border-radius: 10px;
}

.logo{
  height: 60px;
  margin-left: -10px;
}

.carousel-item img{
  height: 630px;
  object-fit: cover;
}

.accor{
  font-weight: bold;
}

.margin_top{
  margin-top: 100px;
}

.coffee{
  border-radius: 20px;
}

nav a.active{
  border-bottom: 2px solid #000;
}